# Recommendation of books
Feed your favorite books then I will give you recommended books that you would like

Theorem of this app

* Get rating of each book
* Find review of your favorite book
* Find books that the reviewer who left good rate on your favorite book evaluate as good book

I will use `cosine distance` to see how similar a book is to others

---

## Import dataset

* book - book title, book id
* user - user id
* rate - user id, book id and rating

In [1]:
import pandas as pd

In [2]:
book = pd.read_csv('../data/BX_Books.csv', sep=';', encoding='latin-1')
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
user = pd.read_csv('../data/BX-Users.csv', sep=';', encoding='latin-1')
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [4]:
rate = pd.read_csv('../data/BX-Book-Ratings.csv', sep=';', encoding='latin-1')
rate.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

---

## Clean and EDA

### Merge all datasets

In [5]:
df = pd.merge(user, rate, how='inner', left_on='User-ID', right_on='User-ID')
df = pd.merge(df, book, how='inner', left_on='ISBN', right_on='ISBN')
df.head()

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
3,11676,"n/a, n/a, n/a",NaN,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
4,41385,"sudbury, ontario, canada",NaN,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

## Assemble dataframe

In [6]:
# FInd missing values
df.isnull().sum()

User-ID                     0
Location                    0
Age                    277845
ISBN                        0
Book-Rating                 0
Book-Title                  0
Book-Author                 1
Year-Of-Publication         0
Publisher                   2
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 0
dtype: int64

In [7]:
df.shape

(1031175, 12)

There are tons of rows and this is too big to assemble my app. I will used only infuential rows which has

* No missing values
* User-ID who rates at least 10 books

This app refers reviews which are given by same user so if a user left only one review, it is not influential for my app

In [8]:
# Drop all missing values
df.dropna(inplace=True)

In [9]:
# Get index where a user left at least 10 retings
reviewer_index = df['User-ID'].value_counts().index[df['User-ID'].value_counts()>=10]

In [10]:
# New dataframe with above index
mini = df.iloc[reviewer_index]
mini.reset_index(inplace=True, drop=True)
mini.head()

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,111888,"los angeles, california, usa",50.0,0590819755,7,"Cleopatra VII: Daughter of the Nile, Egypt, 57...",Kristiana Gregory,1999,Scholastic,http://images.amazon.com/images/P/0590819755.0...,http://images.amazon.com/images/P/0590819755.0...,http://images.amazon.com/images/P/0590819755.0...
1,204864,"simi valley, california, usa",47.0,067088300X,0,The Girls' Guide to Hunting and Fishing,Melissa Bank,1999,Viking Books,http://images.amazon.com/images/P/067088300X.0...,http://images.amazon.com/images/P/067088300X.0...,http://images.amazon.com/images/P/067088300X.0...
2,273086,"chicago, illinois, usa",33.0,0345337662,0,Interview with the Vampire,Anne Rice,1993,Ballantine Books,http://images.amazon.com/images/P/0345337662.0...,http://images.amazon.com/images/P/0345337662.0...,http://images.amazon.com/images/P/0345337662.0...
3,231210,"roanoke, virginia, usa",44.0,0345446860,0,Back When We Were Grownups : A Novel (Ballanti...,ANNE TYLER,2002,Ballantine Books,http://images.amazon.com/images/P/0345446860.0...,http://images.amazon.com/images/P/0345446860.0...,http://images.amazon.com/images/P/0345446860.0...
4,277168,"palestine, texas, usa",37.0,0553227041,0,Sisterhood,Michael Palmer,0,Bantam Doubleday Dell,http://images.amazon.com/images/P/0553227041.0...,http://images.amazon.com/images/P/0553227041.0...,http://images.amazon.com/images/P/0553227041.0...

In [11]:
mini.shape

(8402, 12)

### Create pivot table to see relation of books, users and ratings

In [12]:
pivot = mini.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
pivot.head()

User-ID,99,114,183,254,337,362,384,388,408,444,...,277929,277938,278019,278054,278137,278144,278188,278221,278243,278257
Book-Title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"20,000 Leagues Under the Sea (Bantam Classics)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"20,001 Names For Baby : Revised and Updated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Generate `cosine distance`

In [13]:
from scipy import sparse
pivot_sparse = sparse.csr_matrix(pivot.fillna(0))

In [14]:
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity
cos_distance = pairwise_distances(pivot_sparse, metric='cosine')
recommender = pd.DataFrame(cos_distance, columns=pivot.index, index=pivot.index)
recommender.head()

Book-Title,'Salem's Lot,1984,1st to Die: A Novel,"20,000 Leagues Under the Sea (Bantam Classics)","20,001 Names For Baby : Revised and Updated",2001: A Space Odyssey,2010: Odyssey Two,2061: Odyssey Three,22 Indigo Place,24 Hours,...,Zen and the Art of Motorcycle Maintenance : An Inquiry into Values,Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,Zen and the art of motorcycle maintenance : an inquiry into values,Zlata's Diary: A Child's Life in Sarajevo,Zombies of the Gene Pool,Zoya,"\O\"" Is for Outlaw""","\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",e,stardust
Book-Title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1984,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1st to Die: A Novel,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
"20,000 Leagues Under the Sea (Bantam Classics)",1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
"20,001 Names For Baby : Revised and Updated",1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0